<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .hidden { display: none; }
    </style>
</head>
<body>

<h2>Admin Dashboard</h2>
<select id="functionSelect">
    <option value="">Select an Action</option>
    <option value="addCredits">Add Credits</option>
    <option value="checkWaitlist">Check Waitlist</option>
	<option value="checkApprovedlist">Check Approved list</option>
    <option value="deleteUserJobs">Delete User Jobs</option>
	<option value="moveToApproved">Move to Approved</option>
	<option value="moveBackToWaitList">Move from Approved to WaitList</option>
	<option value="removeFromWaitList">Remove From WaitList</option>
	<option value="deleteSpecificJob">Delete Specific Job</option>
	<option value="listLongQueuedJobs">List Long Queued Jobs</option>
	<option value="retriggerJob">Retrigger Job</option>
	<option value="retryInferenceJob">Retry Inference Job</option>





	

    <!-- More options based on your functionalities -->
</select>

<div id="addCredits" class="formContainer hidden">
    <h3>Add Credits</h3>
    <form id="addCreditsForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <input type="text" name="activity" placeholder="Activity" required><br>
        <input type="number" name="credits" placeholder="Credits" required><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div id="deleteJob" class="formContainer hidden">
    <h3>Delete Job</h3>
    <form id="deleteJobForm">
        <input type="text" name="user_key" placeholder="User Key" required><br>
        <input type="text" name="job_id" placeholder="Job ID" required><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div id="checkWaitlist" class="formContainer hidden">
    <h3>Check Waitlist</h3>
    <button id="checkWaitlistBtn">Check Waitlist</button>
</div>

<div id="checkApprovedlist" class="formContainer hidden">
    <h3>Check Approved List</h3>
    <button id="checkApprovedlistBtn">Check Approved List</button>
</div>

<div id="deleteUserJobs" class="formContainer hidden">
    <h3>Delete All Jobs for User</h3>
    <form id="deleteUserJobsForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div id="moveToApproved" class="formContainer hidden">
    <h3>Move User to Approved</h3>
    <form id="moveToApprovedForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <button type="submit">Move to Approved</button>
    </form>
</div>


<div id="moveBackToWaitList" class="formContainer hidden">
    <h3>Move User from Approved to Waitlist</h3>
    <form id="moveBackToWaitListForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <button type="submit">Move from Approved to waitlist</button>
    </form>
</div>

<div id="removeFromWaitList" class="formContainer hidden">
    <h3>Remove user from Waitlist</h3>
    <form id="removeFromWaitListForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <button type="submit">Remove user from WaitList</button>
    </form>
</div>




<div id="deleteSpecificJob" class="formContainer hidden">
    <h3>Delete Specific Job</h3>
    <form id="deleteSpecificJobForm">
        <input type="text" name="job_id" placeholder="Job ID" required><br>
        <button type="submit">Delete Job</button>
    </form>
</div>

<div id="retriggerJob" class="formContainer hidden">
    <h3>Retrigger Job</h3>
    <form id="retriggerJobForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <input type="text" name="filename" placeholder="Filename" required><br>
        <input type="text" name="model_name" placeholder="Model Name" required><br>
        <button type="submit">Retrigger Job</button>
    </form>
</div>

<div id="retryInferenceJob" class="formContainer hidden">
    <h3>Retry Inference Job</h3>
    <form id="retryInferenceJobForm">
        <input type="email" name="user_email" placeholder="User Email" required><br>
        <input type="text" name="spk_id" placeholder="Speaker ID" required><br>
        <input type="text" name="youtube_link" placeholder="YouTube Link" required><br>
        <button type="submit">Submit Retry Request</button>
    </form>
</div>




<div id="resultsContainer"></div>



<script>
    $(document).ready(function() {
        $('#functionSelect').change(function() {
            $('.formContainer').addClass('hidden');
            $('#' + $(this).val()).removeClass('hidden');
        });

        $('#addCreditsForm').submit(function(e) {
            e.preventDefault();
            
			ajaxPost('/admin/add_credits', JSON.stringify(getFormData($(this))), 'application/json');
        });

        $('#deleteJobForm').submit(function(e) {
            e.preventDefault();
            ajaxPost('/admin/delete_job', JSON.stringify(getFormData($(this))), 'application/json');
        });

        $('#deleteUserJobsForm').submit(function(e) {
            e.preventDefault();
            ajaxPost('/admin/delete_user_jobs', JSON.stringify(getFormData($(this))), 'application/json');
        });
		
		$('#moveToApprovedForm').submit(function(e) {
    e.preventDefault();
    ajaxPost('/admin/move_to_approved', JSON.stringify(getFormData($(this))), 'application/json');
});

		$('#removeFromWaitListForm').submit(function(e) {
    e.preventDefault();
    ajaxPost('/admin/remove_from_waitlist', JSON.stringify(getFormData($(this))), 'application/json');
});

$('#retryInferenceJobForm').submit(function(e) {
    e.preventDefault();  // Prevent default form submission
    ajaxPost('/admin/retry_infer', JSON.stringify(getFormData($(this))), 'application/json');
});




$('#moveBackToWaitListForm').submit(function(e) {
    e.preventDefault();
    ajaxPost('/admin/move_to_waitlist_from_approved', JSON.stringify(getFormData($(this))), 'application/json');
});

$('#retriggerJobForm').submit(function(e) {
    e.preventDefault();
    ajaxPost('/admin/retrigger_job', JSON.stringify(getFormData($(this))), 'application/json');
});


        $('#checkWaitlistBtn').click(function() {
            $.ajax({
                url: '/admin/check_waitlist',
                type: 'GET',
                success: function(response) {
                    alert(JSON.stringify(response));
                },
                error: function(xhr) {
                    alert('Error: ' + xhr.responseText);
                }
            });
        });
		
		$('#checkApprovedlistBtn').click(function() {
            $.ajax({
                url: '/admin/list_approved_users',
                type: 'GET',
                success: function(response) {
                    alert(JSON.stringify(response));
                },
                error: function(xhr) {
                    alert('Error: ' + xhr.responseText);
                }
            });
        });
		
		
		
$('#deleteSpecificJobForm').submit(function(e) {
    e.preventDefault();
    ajaxPost('/admin/delete_specific_job', JSON.stringify(getFormData($(this))), 'application/json');
});

$(document).ready(function() {
    $('#functionSelect').change(function() {
        $('.formContainer').addClass('hidden');
        var selectedFunction = $(this).val();
        if (selectedFunction === 'listLongQueuedJobs') {
            var userEmail = prompt("Please enter the user's email to list long queued jobs:", "");
            if (userEmail != null && userEmail !== "") {
                $.ajax({
                    url: '/admin/list_long_queued_jobs',
                    type: 'GET',
                    data: { user_email: userEmail },
                    success: function(response) {
                        displayLongQueuedJobs(response.long_queued_jobs);
                    },
                    error: function(xhr) {
                        alert('Error: ' + xhr.responseText);
                    }
                });
            }
        } else {
            $('#' + selectedFunction).removeClass('hidden');
        }
    });

    // Rest of your form submission handlers...

    function displayLongQueuedJobs(jobs) {
        $('#resultsContainer').empty(); // Assuming you have a div with this id for displaying results
        if (jobs.length > 0) {
            jobs.forEach(function(job) {
                $('#resultsContainer').append(`<p>Job ID: ${job.job_id}, Status: ${job.status}, Job Type: ${job.job_type}</p>`); // Adjust based on actual structure of job attributes
            });
        } else {
            $('#resultsContainer').append("<p>No long-queued jobs found.</p>");
        }
    }
});



        function ajaxPost(url, data, contentType='application/x-www-form-urlencoded; charset=UTF-8') {
            $.ajax({
                url: url,
                type: 'POST',
                contentType: contentType,
                data: data,
                success: function(response) {
                    alert('Success: ' + JSON.stringify(response));
                },
                error: function(xhr) {
                    alert('Error: ' + xhr.responseText);
                }
            });
        }

        function getFormData($form){
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
    });
</script>
</body>
</html>
