<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
	<title>File Upload</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        // Function to submit the form data
        async function uploadFile() {
            const formData = new FormData(document.getElementById('upload-form'));
            const response = await fetch('/start_infer', {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            if (data.job_id) {
                alert('File upload started. Track the job status on the Job Tracking page.');
            } else {
                alert('Failed to start the job.');
            }
        }
    </script>
</head>
<body>

   <header>
        <div class="navbar">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Application Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/train">Model Training</a></li>
                    <li><a href="/song_conversion">Song Conversion</a></li>
                    <li><a href="/samples">Samples</a></li>
                </ul>
            </nav>
            <div class="user-info">
                <img src="{{ session['user_image'] if session['user_image'] else url_for('static', filename='default-user-icon.png') }}" alt="User Icon" class="user-icon">

                <span>Welcome, {{ session['username'] }}</span>
                <a href="/logout" class="logout-btn">Logout</a>
            </div>
        </div>
    </header>
    <h2>Upload File and Select Speaker</h2>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" required><br><br>
        <label for="speaker_name">Speaker:</label>
         <select id="speaker_name" name="speaker_name" required>
            {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select><br><br>
        <button type="button" onclick="uploadFile()">Upload File</button>
    </form>
    <div>
        <a href="/get-jobs">Go to Job Tracking Page</a>

    </div>
</body>
</html>
