<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Tracking</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        async function refreshJobs() {
            const response = await fetch('/get-jobs');
            const html = await response.text();
            document.open();
            document.write(html);
            document.close();
        }
    </script>
</head>
<body>
<header>
        <div class="navbar">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Application Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/train">Model Training</a></li>
                    <li><a href="/song_conversion">Song Conversion</a></li>
                    <li><a href="/samples">Samples</a></li>
					<li><a href="/rechargeModel">Recharge Model</a></li>
					<li><a href="/rechargeSong">Recharge Song</a></li>
                </ul>
            </nav>
             <div class="user-info">
                <img src="{{ session['user_image'] if session['user_image'] else url_for('static', filename='default-user-icon.png') }}" alt="User Icon" class="user-icon">
                <span>Welcome, {{ session['username'] }}</span>
                <!-- Displaying Credits Information -->
                <div class="credits-info">
                    <span>Model Credits: {{ model_credits }}</span>
                    <span>Song Credits: {{ song_credits }}</span>
                </div>
                <a href="/logout" class="logout-btn">Logout</a>
            </div>
        </div>
    </header>
    <h2>Job Tracking</h2>
    <button onclick="refreshJobs()">Refresh Jobs</button>

    <h3>Training Jobs</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for job_id, status in training_jobs.items() %}
            <tr>
                <td>{{ job_id }}</td>
                <td>{{ status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Inference Jobs</h3>
 <table border="1">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Status</th>
            <th>Submission Time</th>
            <th>Download</th> <!-- Column for download links -->
        </tr>
    </thead>
    <tbody>
        {% for job in inference_jobs.items() %}
        <tr>
            <td>{{ job.file_name }}</td>
            <td>{{ job.status }}</td>
            <td>{{ job.submission_time }}</td>
            <td>
                {% if job.status == 'finished' %}
                <a href="/download/{{ job.job_id }}">Download</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 </body>
</html>
